-var titulo = "Platzi"
-var titulos = ["Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]
-var usuario = 'Luis'
mixin caja(imagen, titulo, contenido)
	.caja
		.caja__imagen: img(src="./img/"+imagen)
		.caja__contenido
			h3=titulo 
			p=contenido
doctype html
html(lang="en")
	include head.pug
	body
		header
			h1 #{titulo}
			if usuario
				a.boton #{usuario}
			else
				a.boton registrate
		block contenidos